<div class="jumbotron">
<div class="container">
  <h1>GoEarth-Surf</h1>
  <p>Recycled from around the globe!</p>
</div>
</div>
<div class="coolpic">
<center><a href="all_items" target="_blank"><img src="http://i66.tinypic.com/e7b7dv.png" border="0"></a></center>
</div>
