
body {
  background-image: url("https://images.unsplash.com/photo-1449168013943-3a15804bb41c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=1958d4bfb59a246c6092ff0daabd284b");
  background-position: fixed;
  background-size: cover;



}
.jumbotron {
  background-color: transparent;
  color: #2B9EC4;
}

.jumbotron p {
  margin-left: 48px;
}

.navbar {
  background-color: transparent;
  border-color: transparent;
}

 .navbar-default .navbar-nav > li > a {
   color: black;
}

.navbar-default .navbar-nav > li > a:hover{
color: #2B9EC4;
}

.navbar-default .navbar-brand {
    color: white;

}

.coolpic:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.coolpic {
 margin-top: 150px;
}

.footer {
  color: white;
  margin-top: 60px;
}


